@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Monument Extended";
  src: url("/PPMonumentExtended-Regular.woff2") format("woff2"),
    url("/PPMonumentExtended-Regular.woff") format("woff");
}

.text-stroke {
  -webkit-text-stroke: 1px white;
}

.sun {
  position: fixed;
}

.sun-one {
  top: 50%;
  left: 50%;
  transform: translate(45%, 45%);
  width: 400px;
  height: 400px;
  /* border-radius: 300px;   */
  filter: blur(100px);
  background: radial-gradient(ellipse at top, #6a82fb, transparent);
  opacity: 0.6;
  transition: transform 1.6s cubic-bezier(0.2, 0.125, 0, 0.73);
}

.sun-two {
  top: 50%;
  left: 50%;
  transform: translate(90%, 20%);
  width: 400px;
  height: 400px;
  /* border-radius: 300px;   */
  filter: blur(100px);
  background: radial-gradient(ellipse at top, #fc5c7d, transparent);
  opacity: 0.6;
  transition: transform 1.6s cubic-bezier(0.2, 0.125, 0, 0.73);
}
