@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Monument Extended';
    src: url('/PPMonumentExtended-Regular.woff2') format('woff2'),
        url('/PPMonumentExtended-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('/PPNeueMontreal-Regular.woff2') format('woff2'), url('/PPNeueMontreal-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Telegraf';
    src: url('/PPTelegraf-Regular.woff2') format('woff2'), url('/PPTelegraf-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Radio Grotesk';
    src: url('/PPRadioGrotesk-Regular.woff2') format('woff2'), url('/PPRadioGrotesk-Regular.woff') format('woff');
}

.text-stroke {
    -webkit-text-stroke: 1px white;
}

.sun-middle {
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
    width: 400px;
    height: 400px;
    /* border-radius: 300px;   */
    filter: blur(100px);
    background: radial-gradient(ellipse at top, #fc5c7d, transparent);
    opacity: 0.6;
    /* transition: transform 1.6s cubic-bezier(0.2, 0.125, 0, 0.73); */
}

.sun-one,
.sun-two {
    position: fixed;
    top: 50%;
    left: 50%;
    filter: blur(100px);
    width: 400px;
    height: 400px;
    opacity: 0.6;
    /* transition: transform 1.6s cubic-bezier(0.2, 0.125, 0, 0.73); */
}

.sun-one-index {
    transform: translate(45%, 45%);
}

.sun-two-index {
    transform: translate(90%, 20%);
}

.sun-one-collection {
    transform: translate(-50%, -50%);
}

.sun-two-collection {
    transform: translate(-20%, -20%);
}

.text-leave {
    animation: 0.8s swipeLeave cubic-bezier(0.64, 0, 0.78, 0) forwards;
}

.text-enter {
    animation: 0.8s swipeEnter cubic-bezier(0.64, 0, 0.78, 0) forwards;
}

@keyframes swipeLeave {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(105%);
    }
}

@keyframes swipeEnter {
    from {
        transform: translateY(-105%);
    }

    to {
        transform: translateY(0);
    }
}

.image {
    opacity: 0;
}
