---
import collections from '@/data/collections.json';

export async function getStaticPaths() {
    return collections.map((collection) => {
        return {
            params: {
                slug: collection.slug,
            },
            props: {
                name: collection.name,
            },
        };
    });
}

let { name } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>vance.photos // {name}</title>
        <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/global.css')} />
    </head>

    <script type="module">
        import WebglInit from '@/webgl/index.js';

        new WebglInit(document.getElementById('webgl-canvas'));
    </script>

    <body data-barba="wrapper">
        <div id="webgl-canvas" class="fixed top-0 left-0 w-screen h-screen"></div>
        <div data-barba="container" data-barba-namespace="collection" class="w-screen h-screen px-20 py-20 bg-black">
            <div class="py-1 overflow-hidden">
                <h1 class="text-6xl text-white mo-text">{name}</h1>
            </div>
        </div>
    </body>
</html>
