---
import collections from '@/data/collections.json';

export async function getStaticPaths() {
    return collections.map((collection) => {
        return {
            params: {
                slug: collection.slug,
            },
            props: {
                name: collection.name,
                length: collection.length,
            },
        };
    });
}

let { name, length } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>vance.photos // {name}</title>
        <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/global.css')} />
        <script type="module" src="../../scripts/barba.js"></script>
    </head>

    <script type="module">
        import WebglInit from '@/webgl/index.js';

        // new WebglInit(document.getElementById('webgl-canvas'));
    </script>

    <body data-barba="wrapper" class="overflow-hidden">
        <svg
            class="sun-one sun-one-collection"
            viewBox="0 0 10 10"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
        >
            <defs>
                <radialGradient cy="40%" id="sunGradientOne">
                    <stop offset="5%" stop-color="#6a82fb">
                        <animate
                            id="sun-one-animate"
                            attributeName="stop-color"
                            from="#6a82fb"
                            to="#6a82fb"
                            dur="0.8s"
                            repeatCount="1"
                            restart="always"
                            fill="freeze"></animate>
                    </stop>
                    <stop offset="70%" stop-color="transparent"></stop>
                </radialGradient>
            </defs>
            <ellipse cx="5" cy="5" rx="15" ry="35" fill="url('#sunGradientOne')"></ellipse>
        </svg>
        <svg
            class="sun-two sun-two-collection"
            viewBox="0 0 10 10"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
        >
            <defs>
                <radialGradient cy="40%" id="sunGradientTwo">
                    <stop offset="5%" stop-color="#fc5c7d">
                        <animate
                            id="sun-two-animate"
                            attributeName="stop-color"
                            from="#fc5c7d"
                            to="#fc5c7d"
                            dur="0.8s"
                            repeatCount="1"
                            restart="always"
                            fill="freeze"></animate>
                    </stop>
                    <stop offset="70%" stop-color="transparent"></stop>
                </radialGradient>
            </defs>
            <ellipse cx="5" cy="5" rx="15" ry="35" fill="url('#sunGradientTwo')"></ellipse>
        </svg>

        <!-- <div id="webgl-canvas" class="fixed top-0 left-0 w-screen h-screen overflow-hidden"></div> -->
        <div data-barba="container" data-barba-namespace="collection" class="w-screen h-screen px-20 py-20 bg-black">
            <div class="py-1 overflow-hidden">
                <h1 class="text-6xl text-white mo-text">{name}</h1>
            </div>
            <div class="py-1 mt-10 overflow-hidden">
                <a href="/" class="text-6xl text-transparent cursor-pointer text-stroke hover:text-white">
                    <p class="mo-text">Go Back</p>
                </a>
            </div>
            <div class="flex space-x-[100px]">
                {[...Array(length).keys()].map((n) => (
                    <img
                        class="image"
                        src={`https://vance.imgix.net/anniversary/s${n + 1}.jpg?w=600&h=400&fit=contain&fm=avif`}
                        alt="bowl"
                    />
                ))}
            </div>
        </div>
    </body>
</html>
