---
import collections from '../../data/collections.json';

export async function getStaticPaths() {
    return collections.map(collection => {
        return {
            params: {
                slug: collection.slug
            }
        }
    })
}
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>Astro + TailwindCSS</title>
        <link
            rel="stylesheet"
            type="text/css"
            href={Astro.resolve('../styles/global.css')}
        />
    </head>

    <body data-barba="wrapper">
        <div data-barba="container" data-barba-namespace="collection" class="w-screen h-screen px-20 py-20 bg-black">
            <a href="/" class="mt-10 text-6xl text-transparent cursor-pointer text-stroke hover:text-white">Go back</a>
        </div>
    </body>
</html>
