---
import collections from "../data/collections.json";
import Layout from "../layouts/Layout.astro";
// import CanvasControlFlow from "../components/CanvasControlFlow.svelte";

export async function getStaticPaths() {
  return collections.map((collection) => {
    return {
      params: {
        slug: collection.slug,
      },
      props: {
        name: collection.name,
        slug: collection.slug,
        length: collection.length,
        description: collection.description,
      },
    };
  });
}

let { name, slug, length, description } = Astro.props;
---

<Layout title={`vance.photos \\ ${name}`} route="collection">
  <svg
    class="sun-one sun-one-collection"
    viewBox="0 0 10 10"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <defs>
      <radialGradient cy="40%" id="sunGradientOne">
        <stop offset="5%" stop-color="#6a82fb">
          <animate
            id="sun-one-animate"
            attributeName="stop-color"
            from="#6a82fb"
            to="#6a82fb"
            dur="0.8s"
            repeatCount="1"
            restart="always"
            fill="freeze"></animate>
        </stop>
        <stop offset="70%" stop-color="transparent"></stop>
      </radialGradient>
    </defs>
    <ellipse cx="5" cy="5" rx="15" ry="35" fill="url('#sunGradientOne')"
    ></ellipse>
  </svg>
  <svg
    class="sun-two sun-two-collection"
    viewBox="0 0 10 10"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <defs>
      <radialGradient cy="40%" id="sunGradientTwo">
        <stop offset="5%" stop-color="#fc5c7d">
          <animate
            id="sun-two-animate"
            attributeName="stop-color"
            from="#fc5c7d"
            to="#fc5c7d"
            dur="0.8s"
            repeatCount="1"
            restart="always"
            fill="freeze"></animate>
        </stop>
        <stop offset="70%" stop-color="transparent"></stop>
      </radialGradient>
    </defs>
    <ellipse cx="5" cy="5" rx="15" ry="35" fill="url('#sunGradientTwo')"
    ></ellipse>
  </svg>

  <div
    data-barba="container"
    data-barba-namespace="collection"
    class="w-screen h-screen"
  >
    <div class="py-1 overflow-hidden">
      <h1
        class="relative uppercase font-sans text-[36px] mobile:text-[44px] tablet:text-[72px] desktop:text-[104px] capsize text-slate-50 mo-text leading-tight mix-blend-difference z-10"
      >
        {name}
      </h1>
    </div>
    <div
      class="z-10 max-w-sm overflow-hidden tablet:fixed tablet:right-40 tablet:bottom-40 desktop:right-64 desktop:bottom-64"
    >
      <p
        class="font-sans text-[16px] tablet:text-[18px] desktop:text-[20px] leading-[1.5] tablet:leading-[1.75] capsize text-slate-50 mt-20 mobile:mt-24 tablet:mt-0 mix-blend-difference mo-text load-in-text"
      >
        {description}
      </p>
    </div>
    <!-- <div class="py-1 mt-10 overflow-hidden">
                <a href="/" class="text-6xl text-transparent cursor-pointer text-stroke hover:text-white">
                    <p class="mo-text">Go Back</p>
                </a>
            </div> -->
    <!-- <div
      class="fixed left-0 top-0 transform -translate-x-[12%] translate-y-1/2 flex space-x-[100px]"
    >
      {
        [...Array(length).keys()].map((n) => (
          <img
            class="image w-[37.5vw] h-[25vw] object-cover object-center"
            src={`https://vance.imgix.net/${slug}/s${
              n + 1
            }.jpg?w=300&h=200&fit=contain&format=auto&blur=200`}
            alt="bowl"
          />
        ))
      }
    </div> -->
  </div>
</Layout>
