---
// Component Imports
import collections from "../data/collections.json";
import Layout from "../layouts/Layout.astro";
import CollectionItem from "../components/CollectionItem.svelte";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Layout title="vance.photos" route="index">
  <svg
    class="sun-one sun-one-index"
    viewBox="0 0 10 10"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <defs>
      <radialGradient cy="40%" id="sunGradientOne">
        <stop offset="5%" stop-color="#6a82fb">
          <animate
            id="sun-one-animate"
            attributeName="stop-color"
            from="#6a82fb"
            to="#6a82fb"
            dur="0.8s"
            repeatCount="1"
            restart="always"
            fill="freeze"></animate>
        </stop>
        <stop offset="70%" stop-color="transparent"></stop>
      </radialGradient>
    </defs>
    <ellipse cx="5" cy="5" rx="15" ry="35" fill="url('#sunGradientOne')"
    ></ellipse>
  </svg>
  <svg
    class="sun-two sun-two-index"
    viewBox="0 0 10 10"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <defs>
      <radialGradient cy="40%" id="sunGradientTwo">
        <stop offset="5%" stop-color="#fc5c7d">
          <animate
            id="sun-two-animate"
            attributeName="stop-color"
            from="#fc5c7d"
            to="#fc5c7d"
            dur="0.8s"
            repeatCount="1"
            restart="always"
            fill="freeze"></animate>
        </stop>
        <stop offset="70%" stop-color="transparent"></stop>
      </radialGradient>
    </defs>
    <ellipse cx="5" cy="5" rx="15" ry="35" fill="url('#sunGradientTwo')"
    ></ellipse>
  </svg>

  <div
    data-barba="container"
    data-barba-namespace="index"
    class="min-h-screen min-w-screen"
  >
    <div class="py-1 overflow-hidden">
      <h1
        class="uppercase text-slate-50 font-sans text-[36px] mobile:text-[44px] tablet:text-[72px] desktop:text-[104px] capsize mo-text leading-tight"
      >
        vance.photos
      </h1>
    </div>
    <div
      class="relative z-10 flex flex-col items-start mt-20 mobile:mt-24 tablet:mt-40 desktop:mt-64 gap-y-20 mobile:gap-y-24 tablet:gap-y-40 desktop:gap-y-64"
    >
      {
        collections.map((collection) => (
          <CollectionItem {collection} client:idle />
        ))
      }
    </div>
  </div>
</Layout>
