---
// Component Imports
import collections from '../../data/collections.json';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>Astro + TailwindCSS</title>
        <link
            rel="stylesheet"
            type="text/css"
            href={Astro.resolve('../styles/global.css')}
        />
        <script type="module">
            import barba from '@barba/core';

            barba.init({});
        </script>
    </head>

    <body data-barba="wrapper">
        <div data-barba="container" class="w-screen h-screen px-20 py-20 bg-black">
			<h1 class="text-6xl text-white">vance.photos</h1>
			<div class="flex flex-col">{collections.map(collection => <a href={`/${collection.slug}`} class="mt-10 text-6xl cursor-pointer text-stroke">{collection.name}</a>)}</div>
		</div>
		<div class="sun-one"></div>
		<div class="sun-two"></div>
    </body>
</html>
