---
// Component Imports
import collections from '../../data/collections.json';
import CollectionItem from '../components/CollectionItem.svelte';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>Astro + TailwindCSS</title>
        <link
            rel="stylesheet"
            type="text/css"
            href={Astro.resolve('../styles/global.css')}
        />
        <script type="module">
            import barba from '@barba/core';

            barba.init({
                transitions: [{
                    name: 'sun-from-index',
                    from: {
                        namespace: ['index']
                    },
                    leave() {
                        let sunOne = document.querySelector('.sun-one');
                        let sunTwo = document.querySelector('.sun-two');

                        sunOne.style.transform = 'translate(-50%, -50%)';
                        sunTwo.style.transform = 'translate(-20%, -20%)';
                    },
                    enter() {
                    }
                }, {
                    name: 'sun-from-collection',
                    from: {
                        namespace: ['collection']
                    },
                    leave() {
                        let sunOne = document.querySelector('.sun-one');
                        let sunTwo = document.querySelector('.sun-two');

                        sunOne.style.transform = 'translate(45%, 45%)';
                        sunTwo.style.transform = 'translate(90%, 20%)';
                    },
                    enter() {
                    }
                }]
            });
        </script>
    </head>

    <body data-barba="wrapper">
        <div class="sun sun-one"></div>
		<div class="sun sun-two"></div>
        <div data-barba="container" data-barba-namespace="index" class="w-screen h-screen px-20 py-20 bg-black">
			<h1 class="text-6xl text-white">vance.photos</h1>
			<div class="relative z-10 flex flex-col items-start">{collections.map(collection => <CollectionItem {collection} client:visible/>)}</div>
		</div>
    </body>
</html>
