---
import "../styles/global.css";
const { title, route } = Astro.props;
import CanvasControlFlow from "../components/CanvasControlFlow.svelte";
import Progress from "../components/Progress.svelte";
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
    <script>
      import barba from "@barba/core";
      import { animate } from "motion";
      import imagesLoaded from "imagesloaded";
      import { progress } from "../stores/progress";

      barba.init({
        views: [
          {
            namespace: "index",
            beforeEnter() {
              document.body.style.overflow = "auto";
            },
          },
          {
            namespace: "collection",
            beforeEnter() {
              document.body.style.overflow = "hidden";
            },
          },
        ],
        transitions: [
          {
            name: "loading",
            async once() {
              progress.set(progress.get() + 31.5);

              let loadOutTexts = document.querySelectorAll(".load-out-text");
              let loadInTexts = document.querySelectorAll(".load-in-text");

              await new Promise((resolve) => {
                const intervalId = setInterval(() => {
                  if (progress.get() >= 100) {
                    resolve(clearInterval(intervalId));
                  }
                }, 200);
              });

              await animate(
                loadOutTexts,
                {
                  transform: "translateY(120%)",
                  display: "none",
                },
                { duration: 0.8, easing: [0.65, 0, 0.35, 1] }
              ).finished;

              let customEv = new CustomEvent("pagechange");
              const preloadImages = new Promise((resolve, reject) => {
                imagesLoaded(
                  document.querySelectorAll(".image"),
                  { background: true },
                  resolve
                );
              });
              Promise.all([preloadImages]).then(() => {
                let domImages = [...document.querySelectorAll(".image")].map(
                  (img) => {
                    const bounds = img.getBoundingClientRect();
                    const url = new URL(img.src);
                    return {
                      src: url.origin + url.pathname,
                      top: bounds.top,
                      left: bounds.left,
                      width: bounds.width,
                      height: bounds.height,
                    };
                  }
                );

                customEv["pathname"] = new URL(
                  window.location.href
                ).pathname.slice(1);
                customEv["domImages"] = domImages;
                window.dispatchEvent(customEv);
              });

              return animate(
                loadInTexts,
                { transform: ["translateY(-120%)", "translateY(0)"] },
                { duration: 0.8, easing: [0.65, 0, 0.35, 1] }
              ).finished;
            },
          },
          {
            name: "sun-from-index",
            from: {
              namespace: ["index"],
            },
            leave() {
              let sunOne = document.querySelector(".sun-one");
              let sunTwo = document.querySelector(".sun-two");
              let texts = document.querySelectorAll(".mo-text");

              animate(
                sunOne,
                {
                  transform: "translate(calc(-50vw + 30%), calc(-50vh + 80%))",
                },
                {
                  duration: 1.6,
                  easing: [0.2, 0.125, 0, 0.73],
                }
              ).finished.then(() => {
                // sunOne.style.animation =
                //     'throb-collection-one 8s cubic-bezier(0.2, 0.125, 0, 0.73) alternate infinite';
              });

              animate(
                sunTwo,
                {
                  transform: "translate(calc(-50vw + 70%), calc(-50vh + 65%))",
                },
                {
                  duration: 1.6,
                  easing: [0.2, 0.125, 0, 0.73],
                }
              ).finished.then(() => {
                // sunTwo.style.animation =
                //     'throb-collection-two 10s cubic-bezier(0.2, 0.125, 0, 0.73) alternate infinite';
              });

              return animate(
                texts,
                {
                  transform: "translateY(120%)",
                },
                { duration: 0.8, easing: [0.65, 0, 0.35, 1] }
              ).finished;
            },
            enter(data) {
              let texts = data.next.container.querySelectorAll(".mo-text");

              let customEv = new CustomEvent("pagechange");
              const preloadImages = new Promise((resolve, reject) => {
                imagesLoaded(
                  document.querySelectorAll(".image"),
                  { background: true },
                  resolve
                );
              });
              Promise.all([preloadImages]).then(() => {
                let domImages = [...document.querySelectorAll(".image")].map(
                  (img) => {
                    const bounds = img.getBoundingClientRect();
                    const url = new URL(img.src);
                    return {
                      src: url.origin + url.pathname,
                      top: bounds.top,
                      left: bounds.left,
                      width: bounds.width,
                      height: bounds.height,
                    };
                  }
                );

                customEv["pathname"] = new URL(
                  window.location.href
                ).pathname.slice(1);
                customEv["domImages"] = domImages;
                customEv["scrollHeight"] =
                  document.documentElement.scrollHeight;
                window.dispatchEvent(customEv);
              });

              animate(
                texts,
                { transform: ["translateY(-120%)", "translateY(0)"] },
                { duration: 0.8, easing: [0.65, 0, 0.35, 1] }
              );
            },
          },
          {
            name: "sun-from-collection",
            from: {
              namespace: ["collection"],
            },
            leave() {
              let sunOne = document.querySelector(".sun-one");
              let sunTwo = document.querySelector(".sun-two");
              let texts = document.querySelectorAll(".mo-text");

              let customEv = new CustomEvent("pagechange");
              customEv["pathname"] = "";
              customEv["domImages"] = undefined;
              customEv["scrollHeight"] = document.documentElement.scrollHeight;
              window.dispatchEvent(customEv);

              animate(
                sunOne,
                {
                  transform: "translate(-25%, 60%)",
                },
                {
                  duration: 1.6,
                  easing: [0.2, 0.125, 0, 0.73],
                }
              ).finished.then(() => {
                // sunOne.style.animation = 'throb-index-one 8s cubic-bezier(0.2, 0.125, 0, 0.73) alternate infinite';
              });

              animate(
                sunTwo,
                {
                  transform: "translate(20%, 20%)",
                },
                {
                  duration: 1.6,
                  easing: [0.2, 0.125, 0, 0.73],
                }
              ).finished.then(() => {
                // sunTwo.style.animation = 'throb-index-two 10s cubic-bezier(0.2, 0.125, 0, 0.73) alternate infinite';
              });

              return animate(
                texts,
                {
                  transform: "translateY(120%)",
                },
                { duration: 0.8, easing: [0.65, 0, 0.35, 1] }
              ).finished;
            },
            enter(data) {
              let texts = data.next.container.querySelectorAll(".mo-text");

              animate(
                texts,
                { transform: ["translateY(-120%)", "translateY(0)"] },
                { duration: 0.8, easing: [0.65, 0, 0.35, 1] }
              );
            },
          },
        ],
      });
    </script>
  </head>
  <body
    data-barba="wrapper"
    class={`p-16 mobile:p-20 tablet:p-40 desktop:p-64 bg-[#1c1c1c] overscroll-none ${
      route === "collection" ? "tablet:overflow-hidden" : ""
    }`}
  >
    <nav
      class="relative z-10 flex gap-12 mb-20 tablet:flex-col tablet:fixed tablet:right-40 tablet:top-40 desktop:right-64 desktop:top-64 text-slate-50 mix-blend-difference mobile:mb-24 tablet:mb-0"
    >
      <div class="overflow-hidden">
        <a href="#"
          ><p
            class="font-sans text-[16px] tablet:text-[18px] desktop:text-[20px] leading-normal capsize load-in-text"
          >
            vance.is
          </p>
        </a>
      </div>
      <div class="overflow-hidden">
        <a href="#"
          ><p
            class="font-sans text-[16px] tablet:text-[18px] desktop:text-[20px] leading-normal capsize load-in-text"
          >
            Twitter
          </p>
        </a>
      </div>
      <div class="overflow-hidden">
        <a href="#"
          ><p
            class="font-sans text-[16px] tablet:text-[18px] desktop:text-[20px] leading-normal capsize load-in-text"
          >
            Email
          </p>
        </a>
      </div>
    </nav>
    <slot />
    <Progress client:idle />
    <CanvasControlFlow client:idle />
  </body>
</html>
