---
// src/layouts/BaseLayout.astro
const { title } = Astro.props;
---

<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <title>{title}</title>
        <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/global.css')} />
        <script type="module" src={Astro.resolve('../scripts/barba.js')}></script>
    </head>
    <body data-barba="wrapper">
        <nav class="fixed z-10 flex flex-col space-y-1 text-xl right-20 top-14 text-slate-50 mix-blend-difference">
            <a href="#">vancetan</a>
            <a href="#">Twitter</a>
            <a href="#">Settings</a>
        </nav>
        <slot />
    </body>
</html>
